*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    background-color: #7AB7FF;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 20%;
       }
header img {
     width: 20%;
     }
main{
        width: 80%;
        margin: auto;
        padding: 30px 10px;
      }
h1 {
    font-size: 70px;
    }
.crediti {
       
 }