*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    background-color: #7AB7FF;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 20%;
    padding: 30px 0 ;
    
       }
header img {
     width: 20%;
     padding-left: 50px;
     text-align: center ;
     }
main{
        width: 80%;
        margin: auto;
        padding: 20px 0px;
    }
.tim {
    
    font-size: smaller
}
h1 {
    font-size: 70px;
    }
.crediti {
    color: grey;
    font-weight: bold;
}
#boolean {
    color: #7AB7FF;
    font-weight: bold;
     
}  

.highlighter{
        background-color: #f1f50b;
    } 
table{
    border-spacing: 0;
}
thead {
    background-color: blue;
    color: white;
}
.colonna {
    width: 50%;
    background-color: #7AB7FF;
}

footer{
    width: 80%;
    margin: auto;
    
}

ul{
  list-style-position: inside;
  
}
.monitor {
  background-image: url('../img/monitor.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  height: 220px;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  
  }
.graph {
    background-image: url('../img/graph.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 220px;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    }